<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  Choose your Pedal Chum - Your Go-To for Two-Wheeled Adventures!
</div>

<div class="card-container">
  <% @bikes.each do |bike| %>
    <div class="card-product">
      <%= link_to bike_path(bike) do %>
      <% if bike.photo.attached? %>
        <%= cl_image_tag bike.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="Speedy Bike">
        <% end %>
        <div class="card-product-content">
          <h2> <%= bike.colour %></h2>
          <p><%= bike.description %></p>
          <p><%= bike.speed %></p>
          <p><%= bike.electric ? "Electric" : "Pedal Bike" %></p>
          <p><%= bike.location %></p>
          <p>$<%= bike.price %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
