<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://thumbs.dreamstime.com/z/bike-line-banner-bicycle-road-tour-background-cyclist-journey-travel-illustration-mountain-active-transport-lifestyle-sport-bike-256635548.jpg?w=992)">
  Choose your Pedal Chum - Your Go-To for Two-Wheeled Adventures!
</div>

<div class="card-description">
  <p>Whether you're cruising through the city streets, exploring scenic trails, or simply commuting to work, we have the ideal bike for you.<br>
  With flexible rental durations and competitive pricing, renting a bike has never been easier.<br>
  Start your journey today by exploring our selection of bikes.</p>
</div>
<div class="card-container">
  <% @bikes.each do |bike| %>
    <div class="card-product">
      <%= link_to bike_path(bike) do %>
      <% if bike.photo.attached? %>
        <%= cl_image_tag bike.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
<img src="https://thumbs.dreamstime.com/z/bike-line-banner-bicycle-road-tour-background-cyclist-journey-travel-illustration-mountain-active-transport-lifestyle-sport-bike-256635548.jpg?w=992" alt="Speedy Bike">
        <!-- Updated image URL -->
        <% end %>
        <div class="card-product-content">
          <h2> <%= bike.colour %></h2>
          <p> Description: <%= truncate(bike.description, length: 50) %></p>
          <p> Speed: <%= bike.speed %></p>
          <p> Type: <%= bike.electric ? "Electric" : "Pedal Bike" %></p>
          <p> Price: £<%= bike.price %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
