<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://thumbs.dreamstime.com/z/bike-line-banner-bicycle-road-tour-background-cyclist-journey-travel-illustration-mountain-active-transport-lifestyle-sport-bike-256635548.jpg?ct=jpeg)">
  Choose your Pedal Chum - Your Go-To for Two-Wheeled Adventures!
</div>

<div class="card-container">
  <% @bikes.each do |bike| %>
    <div class="card-product">
      <%= link_to  bike_path(bike) do %>
<%= image_tag "https://thumbs.dreamstime.com/z/bmx-bike-white-very-elaborated-33336732.jpg?ct=jpeg", alt: "Speedy Bike" %>

<div class="card-product-content">
          <h2> <%= bike.colour %></h2>
          <p><%= bike.description %></p>
          <p><%= bike.speed %></p>
          <p><%= bike.electric %></p>
          <p><%= bike.location %></p>
          <p>$<%= bike.price %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
