<div class="element">
<h1>Add your own bike</h1>

<%= simple_form_for(@bike) do |f| %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.input :colour %>
  <%= f.input :electric %>
  <%= f.input :speed %>
  <%= f.input :location %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>
</div>